/* Author: Circus Factions */
/* Last Update: 2022-01-15 */
/**********************************************************
Load Fonts
***********************************************************/
@font-face {
  font-family: "EB-Garamond";
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "EB-Garamond-Italic";
  src: url("/fonts/EBGaramond-Italic-VariableFont_wght.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-VariableFont_wght.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "Playfair-Display";
  src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "Playfair-Display-Italic";
  src: url("/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "Cormorant-Garamond-Light";
  src: url("/fonts/CormorantGaramond-Light.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "Cormorant-Garamond-Regular";
  src: url("/fonts/CormorantGaramond-Regular.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "Cormorant-Garamond-Medium";
  src: url("/fonts/CormorantGaramond-Medium.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "Cormorant-Garamond-Light-Italic";
  src: url("/fonts/CormorantGaramond-LightItalic.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "Cormorant-Garamond-Regular-Italic";
  src: url("/fonts/CormorantGaramond-Italic.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "Cormorant-Garamond-Medium-Italic";
  src: url("/fonts/CormorantGaramond-MediumItalic.ttf");
  /* Downloaded from Google Fonts. */
}
/**********************************************************
Global Element Styles
***********************************************************/
/* Get rid of default element styles. */
html, body, h1, h2, h3, h4, p, blockquote, code, ul, ol, img {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  /* Necessary for sticky footer. */
}

body {
  display: grid;
  /* Necessary for sticky footer. */
  grid-template-rows: auto auto 1fr auto;
  /* Necessary for sticky footer. */
  font-family: Cormorant-Garamond-Regular, Serif;
  color: rgba(0, 0, 0, 0.87);
  text-size-adjust: none;
  /* Keeps text size the same in both portrait and landscape on mobile devices. */
  -webkit-text-size-adjust: none;
  /* Keeps text size the same in both portrait and landscape on mobile devices. */
}

header {
  margin: 20px 0 10px 0;
  font-family: EB-Garamond;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 8px;
  line-height: 42px;
}
header .header-kerning-r {
  letter-spacing: 4px;
  /* Fixes kerning issue with letter 'r' in site title. */
}
@media only screen and (max-width: 450px) {
  header {
    font-family: EB-Garamnond;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 6px;
    line-height: 36px;
  }
}

nav, footer {
  font-family: EB-Garamond;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
}

nav {
  max-width: 1500px;
  width: 100%;
  padding: 0 0 20px 0;
  margin: 0 auto 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
nav a {
  margin: 0 12px 0 12px;
}
@media only screen and (max-width: 330px) {
  nav {
    display: grid;
    grid-template-rows: auto auto auto;
  }
}

.content {
  max-width: 1500px;
  margin: 50px auto 50px auto;
}

footer {
  max-width: 1500px;
  width: 100%;
  padding: 20px 0 20px 0;
  margin: 0 auto 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
footer span {
  display: inline-block;
}
footer .footer-nav {
  display: flex;
  justify-content: center;
}
footer .footer-nav a {
  margin: 0 12px 0 12px;
}
@media only screen and (max-width: 410px) {
  footer .footer-nav {
    display: grid;
    grid-template-rows: auto auto auto auto;
  }
  footer .footer-nav a {
    margin: 0 0 5px 0;
  }
}
footer .footer-copyright {
  margin: 5px 0 0 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.post-title {
  font-family: EB-Garamond;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
}

.post-summary {
  font-family: EB-Garamond;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
}

.post-metadata {
  color: rgba(0, 0, 0, 0.4);
}
.post-metadata .post-metadata-date {
  font-family: EB-Garamond;
  font-size: 20px;
  line-height: 30px;
  font-weight: 200;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.4);
}
.post-metadata .post-metadata-categories {
  font-family: EB-Garamond;
  font-size: 20px;
  line-height: 30px;
  font-weight: 200;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.4);
}

p:not(:last-child) {
  margin: 0 0 10px 0;
}

/* Links */
a, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
}

img {
  max-width: 100%;
}

/**********************************************************
Home Element Styles
***********************************************************/
.home-post-summaries {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: space-between;
}
@media only screen and (max-width: 1500px) {
  .home-post-summaries {
    padding: 0 40px 0 40px;
  }
}
@media only screen and (max-width: 819px) {
  .home-post-summaries {
    display: block;
    margin: 40 0 40 0;
    padding: 0 0 0 0;
  }
  .home-post-summaries .post-summary-container:not(:last-child) {
    margin: 0 0 60px 0;
  }
}
.home-post-summaries .post-summary-container:not(:last-child) {
  margin: 0 auto 0 auto;
}
.home-post-summaries .post-summary-container .image-container {
  margin: 0;
}
@media only screen and (max-width: 819px) {
  .home-post-summaries .post-summary-container .text-container {
    margin: 0 15px 0 15px;
  }
}
.home-post-summaries .post-summary-container .text-container .post-title {
  margin: 5px 0 10px 0;
}
.home-post-summaries .post-summary-container .text-container .post-summary {
  text-align: left;
  margin: 0 0 10px 0;
}
.home-post-summaries .post-summary-container .text-container .post-metadata .post-metadata-date {
  margin: 0;
}
.home-post-summaries .post-summary-container .text-container .post-metadata .post-metadata-categories {
  margin: 0;
}

/**********************************************************
Post Element Styles
***********************************************************/
.post-content {
  max-width: 1500px;
  position: relative;
  display: grid;
  grid-template-columns: minmax(1px, 250px) minmax(auto, 700px) 250px;
}
@media only screen and (max-width: 1200px) {
  .post-content {
    grid-template-columns: 20px minmax(auto, 700px) 250px;
  }
}
@media only screen and (max-width: 740px) {
  .post-content {
    grid-template-columns: 20px auto 20px;
  }
}
.post-content .post-container .post-title {
  margin: 0 0 10px 0;
}
.post-content .post-container .post-metadata {
  margin: 0 0 30px 0;
}
.post-content .post-container .post-metadata .post-metadata-date {
  margin: 0;
}
.post-content .post-container .post-metadata .post-metadata-categories {
  margin: 0;
}
.post-content .post-container .post {
  font-family: EB-Garamond;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
}
@media only screen and (min-width: 740px) {
  .post-content .post-container .post aside {
    display: block;
    position: absolute;
    width: 185px;
    right: 0;
    font-size: 18px;
    line-height: 24px;
    margin: 0 20px 0 10px;
    padding: 0 0 0 5px;
    border-left: 3px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);
  }
}
.post-content .post-container .post img {
  margin: 10px 0 10px 0;
}

/** LIGHTBOX MARKUP **/
.lightbox {
  /* Default to hidden */
  display: none;
  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* A bit of padding around image */
  padding: 1em;
  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;
  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*# sourceMappingURL=style.css.map */
