@charset "UTF-8";
/* Author: Circus Factions */
/* Last Update: 2022-01-15 */
/**********************************************************
Load Fonts
***********************************************************/
@font-face {
  font-family: "EB-Garamond";
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "EB-Garamond-Italic";
  src: url("/fonts/EBGaramond-Italic-VariableFont_wght.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-VariableFont_wght.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "Playfair-Display";
  src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf");
  /* Downloaded from Google Fonts. */
}
@font-face {
  font-family: "Playfair-Display-Italic";
  src: url("/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
  /* Downloaded from Google Fonts. */
}
/**********************************************************
Global Element Styles
***********************************************************/
q {
  quotes: "“" "”" "‘" "’";
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

html, body, h1, h2, h3, h4, p, blockquote, code, ul, ol, img {
  margin: 0;
  padding: 0;
  /* Get rid of default element styles. */
}

a, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgba(0, 0, 0, 0.4);
}

img {
  max-width: 100%;
}

html, body {
  height: 100%;
  /* Necessary for sticky footer. */
}

body {
  display: grid;
  /* Necessary for sticky footer. */
  grid-template-rows: auto auto 1fr auto;
  /* Necessary for sticky footer; each page includes a '*-content' div for third row. */
  font-family: EB-Garamond, Serif;
  color: rgba(0, 0, 0, 0.87);
  text-size-adjust: none;
  /* Keeps text size the same in both portrait and landscape on mobile devices. */
  -webkit-text-size-adjust: none;
  /* Keeps text size the same in both portrait and landscape on mobile devices. */
}

header {
  margin: 40px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 8px;
  line-height: 60px;
}
header .header-kerning-r {
  letter-spacing: 3px;
  /* Fixes kerning issue with letter 'r' in site title. */
}

nav, footer {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4px;
}

nav {
  max-width: 1500px;
  width: 100%;
  padding: 0 0 20px 0;
  margin: 0 auto 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content {
  max-width: 1500px;
  margin: 40px auto 40px auto;
}

footer {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 20px 0 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
footer .footer-copyright {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.post-title {
  font-family: "Playfair-Display-Italic";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.post-summary {
  font-family: EB-Garmond;
  font-size: 18px;
  font-weight: 400;
}

.post-metadata {
  color: rgba(0, 0, 0, 0.3);
}
.post-metadata .post-metadata-date {
  font-family: "Playfair-Display";
  font-size: 17px;
  font-weight: 500;
  text-transform: lowercase;
  font-variant: small-caps;
  color: rgba(0, 0, 0, 0.3);
}
.post-metadata .post-metadata-categories {
  font-family: "Playfair-Display";
  font-size: 17px;
  font-weight: 450;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.3);
}

p:not(:last-child) {
  margin: 0 0 10px 0;
}

/**********************************************************
Home Element Styles
***********************************************************/
.post-summaries {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: space-between;
}
@media only screen and (max-width: 1500px) {
  .post-summaries {
    padding: 0 40px 0 40px;
  }
}
@media only screen and (max-width: 819px) {
  .post-summaries {
    display: block;
    margin: 40 0 40 0;
    padding: 0 0 0 0;
  }
  .post-summaries .post-summary-container:not(:last-child) {
    margin: 0 0 60px 0;
  }
}
.post-summaries .post-summary-container .image-container {
  margin: 0;
}
@media only screen and (max-width: 819px) {
  .post-summaries .post-summary-container .text-container {
    margin: 0 15px 0 15px;
  }
}
.post-summaries .post-summary-container .text-container .post-title {
  margin: 0 0 5px 0;
}
.post-summaries .post-summary-container .text-container .post-summary {
  text-align: left;
  margin: 0 0 5px 0;
}
.post-summaries .post-summary-container .text-container .post-metadata .post-metadata-date {
  margin: 0;
}
.post-summaries .post-summary-container .text-container .post-metadata .post-metadata-categories {
  margin: 0;
}

/**********************************************************
Post Element Styles
***********************************************************/
.post-content {
  max-width: 900px;
  position: relative;
  display: grid;
  grid-template-columns: minmax(20px, 175px) minmax(335px, 550px) minmax(20px, 175px);
}
.post-content .left-side-space {
  min-width: 20px;
  max-width: 200px;
}
.post-content .post-container .post-title {
  margin: 0 0 10px 0;
}
.post-content .post-container .post-metadata {
  margin: 0 0 30px 0;
}
.post-content .post-container .post-metadata .post-metadata-date {
  margin: 0;
}
.post-content .post-container .post-metadata .post-metadata-categories {
  margin: 0;
}
.post-content .post-container .post {
  font-family: EB-Garmond;
  font-size: 18px;
  font-weight: 400;
}
@media only screen and (min-width: 890px) {
  .post-content .post-container .post aside {
    display: block;
    position: absolute;
    width: 150px;
    right: 0;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 0 10px;
    padding: 0 0 0 5px;
    border-left: 3px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.4);
  }
}
.post-content .post-container .post img {
  margin: 10px 0 10px 0;
}
.post-content .right-side-space {
  min-width: 20px;
  max-width: 200px;
}

/** LIGHTBOX MARKUP **/
.lightbox {
  /* Default to hidden */
  display: none;
  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* A bit of padding around image */
  padding: 1em;
  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;
  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*# sourceMappingURL=style.css.map */
