/* Fonts */

@font-face {
    font-family: "EBGaramond";
    src: url("fonts/EBGaramond-VariableFont_wght.ttf");
}

@font-face {
    font-family: "EBGaramond-Italic";
    src: url("fonts/EBGaramond-Italic-VariableFont_wght.ttf");
}


/* Basic site layout sections. */

html {
    height: 100%; /* Necessary for sticky footer. */
}

body {
    height: 100%; /* Necessary for sticky footer. */
    display: grid; /* Necessary for sticky footer. */
    grid-template-rows: auto auto 1fr auto; /* Necessary for sticky footer. */
    margin: 0; /* Remove default margin on body. */
    font-family: "EBGaramond";
    text-size-adjust: none; /* Keeps text size the same in both portrait and landscape on mobile devices  */
}

header {
    margin: 40px 0 10px 0;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 8px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}

nav {
    margin: 0 0 40px 0;
    padding: 0 0 30px 0;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid lightgray;
}

nav a {
    margin: 0 10px 0 10px;
}

.main {
    max-width: 700px; /* Determines the width of the main content area */
    margin: 0 auto 0 auto; /* Keeps the main content area centered */
}

footer {
    margin: 40px 0 40px 0;
    padding: 30px 0 30px 0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid lightgray;
}

footer a {
    margin: 0 10px 0 10px;
}



/* Links */

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}





/* Home page content styling */

.home_page_post_summary {
    text-align: center;
    margin: 0 0 60px 0;
}

.home_page_post_summary_image {
    max-width: 100%; /* Ensures that image is constrained to .main max-width, but allows image to shrink for smaller screens */
}

.home_page_post_summary_title {
    text-align: left;
    font-size: 48px;
}

.home_page_post_summary_summary {
    text-align: left;
    font-size: 18px;
}

.home_page_post_summary_metadata {
    text-align: left;
}



/* Post page content styling */

.post {
    text-align: left;
}


/* Categories page content styling */

.category {
    text-align: center;
}

















/* Persnickety details */

.header-kerning-r {
    letter-spacing: 3px; /* Fixes kerning issue with letter 'r' in 'circus factions' */
}



