{% extends "layout.html" %}
{% block content %}
{% for post in posts %}
<div class="all-page-post-summary">
    <a href={{post[1]}}>
        <div class="all-page-post-summary-clickable-area">
            <div class="all-page-post-summary-title">
                {{post[0].title}}
            </div>
            <div class="all-page-post-summary-snippet">{{post[0].summary}}</div>
        </div><!--all-page-post-summary-clickable-area-->
    </a>
    <div class="all-page-post-summary-metadata">
        <span class="all-page-post-summary-metadata-date">{{post[0].date}}</span>
        {% set list_of_tags = post[0].tags.split(",") %}
        {% for tag in list_of_tags %}
        <a href = "categories/{{tag}}.html"><span class="all-page-post-summary-metadata-tags">{{tag}}</span></a>
        {% endfor %}
    </div><!--all-page-post-summary-metadata-->
</div><!--all-page-post-summary-->
{% endfor %}
{% endblock %}