{% extends "layout.html" %}
{% block content %}
{% for post in posts[:3] %}
<div class="home-page-post-summary">
    <a href={{post[1]}}>
        <div class="home-page-post-summary-clickable-area">
            <div class="home-page-post-summary-image">
                <img class="home-page-post-summary-image" src="{{post[0].thumbnail}}"></img>
            </div>
            <div class="home-page-post-summary-title">
                {{post[0].title}}
            </div>
            <div class="home-page-post-summary-snippet">{{post[0].summary}}</div>
        </div><!--home-page-post-summary-clickable-area-->
    </a>
    <div class="home-page-post-summary-metadata">
        <span class="home-page-post-summary-metadata-date">{{post[0].date}}</span>
        {% set list_of_tags = post[0].tags.split(",") %}
        {% for tag in list_of_tags %}
        <a href = "categories/{{tag}}.html"><span class="home-page-post-summary-metadata-tags">{{tag}}</span></a>
        {% endfor %}
    </div><!--home-page-post-summary-metadata-->
</div><!--home-page-post-summary-->
{% endfor %}
{% endblock %}