{% extends "layout.html" %}
{% block content %}
<div class="post-summaries">
    {% for post in posts[:10] %}
    <div class="post-summary-container">
        <div class="image-container">
            <a href=/{{post[1]}}><img src="{{post[0].image}}" alt="{{post[0].image_alt_text}}"></img></a>    
        </div><!--end image-container-->
        <div class="text-container">
            <div class="post-title"><a href=/{{post[1]}}>{{post[0].title}}</a></div>
            <div class="post-summary"><a href=/{{post[1]}}>{{post[0].summary}}</a></div>
            {% include 'post-metadata.html' %}
        </div><!--end text-container-->
    </div><!--end post-summary-container-->
    {% endfor %}
</div><!--end post-summaries-->
{% endblock %}