{% extends "layout.html" %}
{% block content %}
<div class="post">
    <h1 class="post-title">{{post.title}}</h1>
    <div class="post-metadata">
        <span class="post-metadata-date">{{post.date}}</span>
        {% set list_of_categories = post.categories.split(","" ") %}
        {% for category in list_of_categories %}
        <a href="/categories/{{category}}.html"><span class="post-metadata-categories">{{category}}</span></a>
        {% endfor %}
    </div>
    <div class="post-content">
        {{ post.content }}
    </div>
</div><!--post-->
{% endblock %}