{% extends "layout.html" %}

{% block content %}

<div class="content">

    <div class="home-page-post-summary">
        <div class="home-page-post-summary-image-container">
            <img class="home-page-post-summary-image" src="{{post.thumbnail}}"></img>
        </div>
        <div class="home-page-post-summary-text"> 
            <div class="home-page-post-summary-title">
                {{post.title}}
            </div> 
            <div class="home-page-post-summary-body">
                {{post.summary}}
            </div>
            <div class="home-page-post-summary-metadata">
                <span class="home-page-post-summary-metadata-date">{{post.date}}</span>
                <span class="home-page-post-summary-metadata-tags">
                    <span class="home-page-post-summary-metadata-tag">Travel</span>
                    <span class="home-page-post-summary-metadata-tag">Hiking</span>
                    <span class="home-page-post-summary-metadata-tag">Animals</span>
                </span>
            </div>
            <div class="home-page-post-summary-post">
                {{ post.content }}
            </div>
        </div>
</div>

{% endblock %}
